@use 'sass:color';

$color-type: hsl !default;

@if not index(hsl rgba hex, $color-type)
{
    $color-type: hsl;
}

//$primary: #436e82 !default;
$primary: #45576b !default;
$primarytext: getTextColor($primary) !default;
$secondary: getSecondaryColor($primary) !default;
$secondarytext: getTextColor($secondary) !default;
$dark: color.adjust($primary, $lightness: -15%);
$light: color.adjust($secondary, $lightness: 50%);
$dark-grey: #585858 !default;
$light-grey: #abb0b7 !default;
$muted: rgba(color.adjust($secondary, $lightness: 50%), .66) !default;
$screen: rgba(color.adjust($primary, $lightness: -5%), .66) !default;
$transparent: #ffffff00 !default;
$link: $secondarytext !default;
$disabled: #f7f7f7 !default;

$color-palette: (
    "primary": $primary,
    "secondary": $secondary,
    "dark": $dark,
    "light": $light,
    "white": #f4f4f0,
    "black": #171717,
    "light-grey": $light-grey,
    "dark-grey": $dark-grey,
    "muted":$muted,
    "screen":$screen,
    "transparent": $transparent,
    "link": $link,
);
$text-palette: (
    "primary": $primary,
    "secondary": $secondary,
    "primarybg": $primarytext,
    "secondarybg": $secondarytext,
    "dark": $dark,
    "light": $light,
    "white": #f4f4f0,
    "black": #171717,
    "light-grey": $light-grey,
    "dark-grey": $dark-grey,
    "muted":$muted,
    "screen":$screen,
    "link": $link,
);

:root
{
    @each $color in $color-palette
    {
        --color-#{nth($color, 1)}: #{createColor(nth($color, 2))};
        --color-#{nth($color, 1)}-darker: #{createColor(color.adjust(nth($color, 2), $lightness: 10%))};
        --color-#{nth($color, 1)}-lighter: #{createColor(color.adjust(nth($color, 2), $lightness: 10%))};
        --color-#{nth($color, 1)}-text: #{getSecondaryColor(nth($color, 2))};
        --color-#{nth($color, 1)}-alert: #{createColor(color.scale(nth($color, 2), $alpha: -80%))};
    }

    --color-black-overlay: #{createColor(transparentize($dark, 0.5))};

    --color-link: #{createColor($link)};
    --color-muted: #{createColor($muted)};
    --color-disabled: #{createColor($disabled)};
}

.has-text
{
    @each $color in $text-palette
    {
        &-#{nth($color, 1)}
        {
            --font-color: #{createColor(nth($color, 2))} !important;
            color: var(--font-color) !important;
        }
    }
}

.has-bg
{
    @each $color in $color-palette
    {
        &-#{nth($color, 1)}
        {
            --background-color: var(--color-#{nth($color, 1)}) !important;
            background-color: var(--background-color) !important;
        }
    }

    &-disabled
    {
        --background-color: var(--color-disabled) !important;
        background-color: var(--background-color) !important;
    }
}