//####### Transitions #######
@keyframes fadein
{
    from
    {
        opacity: 0;
    }
}

@keyframes fadeout
{
    to
    {
        opacity: 0;
    }
}

@keyframes slidefromright
{
    from
    {
        transform: translateX(100%);
    }

    to
    {
        transform: translateX(0);
    }
}


@keyframes slidefromleft
{
    from
    {
        transform: translateX(-100%);
    }

    to
    {
        transform: translateX(0);
    }
}

@keyframes slidefrombottom
{
    from
    {
        transform: translateY(100%);
    }

    to
    {
        transform: translateY(0);
    }
}

@keyframes slidefromtop
{
    from
    {
        transform: translateY(-100%);
    }

    to
    {
        transform: translateY(0);
    }
}

.is-active,
.is-inactive
{
    transition: all ease-in-out 1s;
}

.fade-it-in
{
    //view-transition-name: slide-it;
    animation: 750ms ease-in alternate fadein;
}

.fade-it-out
{
    //view-transition-name: slide-it;
    animation: 750ms ease-in alternate fadeout;
}

.slide-it-in
{
    //view-transition-name: slide-it;
    animation: 500ms ease-in-out alternate slidefromleft, 500ms ease-in alternate fadein;
}

.slide-it-out
{
    //view-transition-name: slide-it;
    animation: 500ms ease-in-out alternate slidefromright, 500ms ease-in alternate fadeout;
}

.swap-it-in
{
    //view-transition-name: swap-it;
    animation: 500ms ease-in-out alternate slidefromright, 500ms ease-in alternate fadein;
}

.swap-it-out
{
    //view-transition-name: swap-it;
    animation: 500ms ease-in-out alternate slidefromright, 500ms ease-in alternate fadeout;
}

.raise-it
{
    //view-transition-name: raise-it;
    animation: 500ms ease-in-out alternate raiseit;
}

.lower-it
{
    //view-transition-name: lower-it;
    animation: 500ms ease-in-out alternate lowerit;
}

// ::view-transition-old(slide-it)
// {
//     animation: 420ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
//         600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-left;
// }

// ::view-transition-new(slide-it)
// {
//     animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
//         600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
// }

// ::view-transition-old(swap-it)
// {
//     animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
//         1s cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
// }

// ::view-transition-new(swap-it)
// {
//     animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
//         1s cubic-bezier(0.4, 0, 0.2, 1) both slide-from-left;
// }

// ::view-transition-old(raise-it)
// {
//     animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
//         600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-bottom;
// }

// ::view-transition-new(raise-it)
// {
//     animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
//         600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-top;
// }

// ::view-transition-old(lower-it)
// {
//     animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
//         600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-top;
// }

// ::view-transition-new(lower-it)
// {
//     animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
//         600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-bottom;
// }