{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_tasks.html" as task_components %}
{% import "shared/_abilities.html" as abilities_components %}


{% macro autogm_gm_session(user, world, party) -%}
<section class="section is-small">
    <div class="row has-space-around has-bg-muted" style='z-index:100; position: sticky; top:0;'>
        {% for player in party.players %}
        <div class="column is-shrink">
            <div class="panel has-bg-dark-grey has-border">
                <a onclick='htmx.find("#player-{{player.pk}}-card-container").scrollIntoView({ behavior: "smooth"});'
                   style='border-radius: 5px 5px 0 0;'>
                    <h4 class='has-text-center'>{{player.name}}</h4>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <form hx-post="/api/autogm/{{party.pk}}/update"
          hx-trigger='input delay:1s, from:#continue-session-button' hx-swap='none'>
        <div class="panel has-text-center has-bg-muted">
            <div class="row has-space-around">
                <div class="column is-shrink is-vertically-centered">
                    <input class="has-text-center has-text-primary has-bg-transparent is-big-heading"
                           type="string"
                           name="date" id="date"
                           value='{{party.next_scene.date or party.world.current_date}}'>
                </div>
            </div>
        </div>
    </form>
    {% if party.last_scene %}
    {{ scene_overview(user, world, party) }}
    {% endif %}
    <hr>
    <div class="row has-space-around">
        <div class="column is-full">
            {{autogm_submit_session(user, world, party)}}>
            <hr>
            <hr>
            {{scene_party_summary(user, world, party)}}
        </div>
    </div>
</section>
{%- endmacro %}