{% macro info(user, obj) -%}
<div class="row">
    <div class="column is-shrink is-vertically-centered">
        <h3 class='has-text-dark'>{{obj.title}} Type:</h3>
    </div>
    <div class="column is-shrink is-vertically-centered ">
        <h4 class="has-text-dark">{{obj.location_type}}</h4>
    </div>
    {% if obj.owner %}
    <div class="column">
        <div class="panel has-bg-primary">
            <h4 class="has-text-secondary">Owner</h4>
            <a href="/{{obj.owner.model_name()|lower}}/{{obj.owner.pk}}">
                <div class="image is-large is-thumbnail is-margin-center">
                    {% if obj.owner.image %}
                    <img src="{{obj.owner.image.url()}}" alt="{{obj.owner.name}}" />
                    {% endif %}
                </div>
                <h4 class="has-text-light">
                    {{obj.owner.name}}
                </h4>
            </a>
        </div>
    </div>
    {% endif %}
</div>
{%- endmacro %}

{% macro manage_details(user, obj) -%}
<form hx-post="/api/manage/update"
      hx-swap="none" hx-trigger="input delay:1s, change">
    <div class="row">
        <div class="column">
            <h3>Location Type</h3>
            <input list="location_list" class="has-bg-light" type="text" id='location_type'
                   name="location_type" value='{{obj.location_type}}'>
            <datalist id="location_list">
                {% for ltype in obj.categories %}
                <option value="{{ltype}}" {% if obj.location_type==ltype %} selected {% endif %}>
                    {{ltype}}
                </option>
                {% endfor %}
            </datalist>
        </div>
    </div>
    <div class="column is-shrink">
        <h4>Owner</h4>
        <input class="has-bg-light" disabled id='owner' type="text" name="owner" value='TBD...'>
    </div>
</form>
{%- endmacro %}

{% macro dungeon(user, obj) -%}
<div class="row has-space-around">
    <div class="column is-3">
        <div class="image is-thumbnail">
            <img src="{{obj.map.url(250)}}" />
        </div>
        <div class="row has-space-around">
            <div class="column">
                <h4 class='has-text-center'>
                    {% if obj.name %}
                    {{obj.name}}
                    {% else %}
                    New {{obj.title}}
                    {% endif %}
                </h4>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row has-space-around">
    {% for dungeon in obj.dungeon %}
    <div class="column is-3">
        <a href="/{{dungeon.path}}">
            <div class="image is-thumbnail">
                <img src="{{dungeon.map.url(250)}}" />
            </div>
            <div class="row has-space-around">
                <div class="column">
                    <h4 class='has-text-center'>
                        {% if dungeon.name %}
                        {{dungeon.name}}
                        {% else %}
                        New {{dungeon.title}}
                        {% endif %}
                    </h4>
                </div>
            </div>
        </a>
    </div>
    {% for subdungeon in dungeon.dungeon %}
    {% if subdungeon not in obj.dungeon and subdungeon != obj %}
    <div class="column is-3">
        <a href="/{{subdungeon.path}}">
            <div class="image is-thumbnail">
                <img src="{{subdungeon.map.url(250)}}" />
            </div>
            <div class="row has-space-around">
                <div class="column">
                    <h4 class='has-text-center'>
                        {% if subdungeon.name %}
                        {{subdungeon.name}}
                        {% else %}
                        New {{subdungeon.title}}
                        {% endif %}
                    </h4>

                </div>
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
{%- endmacro %}