{% import "shared/_form.html" as form_components %}
{% import "shared/_abilities.html" as abilities_components %}

{% macro info(user, obj) -%}
<div class="panel has-bg-muted has-text-primary">
    <div class="row has-space-around">
        <div class="column is-shrink">
            <h4 class="has-text-dark">Rarity</h4>
            <p>{{obj.rarity}}</p>
        </div>
        <div class="column is-shrink">
            <h4 class="has-text-dark">Weight</h4>
            <p>{{obj.weight}}</p>
        </div>
        <div class="column is-shrink">
            <h4 class="has-text-dark">Cost</h4>
            <p>{{obj.cost}}</p>
        </div>
        <div class="column is-shrink">
            <h4 class="has-text-dark">Duration</h4>
            <p>{{obj.duration | safe}}</p>
        </div>
    </div>
</div>
<hr>
{% if obj.features %}
<div class="row">
    <div class="column is-full" id="model-features">
        <div class="panel has-bg-primary">
            <h3 class='has-text-center '>Features</h3>
            <div id="model-abilities" class="column is-full">
                {{abilities_components.abilities(user, obj, abilities=obj.features)}}
            </div>
        </div>
    </div>
</div>
{% endif %}
{%- endmacro %}

{% macro manage_details(user, obj) -%}
<form hx-post="/api/manage/update"
      hx-swap="none" hx-trigger="input delay:1s, change">

    <div class="row has-space-between">
        <div class="column is-shrink">
            <h4>Rarity</h4>
            <div class="is-select">
                <select class="has-bg-light" name="rarity">
                    <option></option>
                    {% for rarity in obj._rarity_list%}
                    <option {%if obj.rarity==rarity %}selected {% endif %}>{{rarity}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>
        <div class="column is-shrink">
            <h4>Weight</h4>
            <input class="has-bg-light" type="text" value="{{obj.weight}}" name="weight">
        </div>
        <div class="column">
            <h4>Cost</h4>
            <textarea class="has-bg-light" name="cost">{{obj.cost}}</textarea>
        </div>
        <div class="column">
            <h4>Duration</h4>
            <textarea class="has-bg-light" name="duration">{{obj.duration}}</textarea>
        </div>
        <div class="column is-full">
            {{abilities_components.edit_abilities(user, obj, abilities=obj.features)}}
        </div>
    </div>
</form>
{%- endmacro %}