{% import "shared/_abilities.html" as abilities_components %}
{% import "shared/_form.html" as form_components %}

{% macro info(user, obj) -%}
<div class="row">
    <div class="column is-shrink">
        <label class="is-subheading">Group</label>
        <div class="is-select">
            <select name="group">
                {%for i in range(25) %}
                <option value='{{i}}'
                        {%if obj.group==i %} selected {% endif %}>
                    {%if not i %}
                    Unique
                    {% else %}
                    {{i}}
                    {% endif %}
                </option>
                {% endfor %}
            </select>
        </div>
        <script>
            // Function to show/hide the element based on the select value

            function toggleVisibility() {
                let selectGroupElement = document.querySelector('select[name="group"]');
                let objDatesElement = document.getElementById('manage-obj-dates');
                selectGroupElement.value === '0' ?
                    objDatesElement.classList.remove('is-hidden') :
                    objDatesElement.classList.add('is-hidden');
                //console.log("================  selectGroupElement.value  =================", selectGroupElement.value);
            }

            // Run the function when the page loads
            toggleVisibility();

            // Add an event listener to the select element to run the function on change
            document.querySelector('select[name="group"]').addEventListener('change', toggleVisibility);
        </script>
    </div>
    <div class="column is-shrink">
        <label for="model-hitpoints" class="is-subheading">HP</label>
        <input id="model-hitpoints" type="text" value="{{obj.hitpoints}}" name="hitpoints">
    </div>
    <div class="column is-shrink">
        <label for="model-size" class="is-subheading">Size</label>
        <input id="model-size" type="text" value="{{obj.size}}" name="size">
    </div>
    <div class="column is-shrink">
        <label for="model-type" class="is-subheading">Type</label>
        <input id="model-type" type="text" value="{{obj.type}}" name="type">
    </div>
    {% if obj.owner %}
    <div class="column is-3">
        <div class="panel has-bg-primary">
            <h4 class="has-text-secondary">Owner</h4>
            <a href="/{{obj.owner.model_name()|lower}}/{{obj.owner.pk}}">
                <div class="image is-large is-thumbnail is-margin-center">
                    {% if obj.owner.image %}
                    <img src="{{obj.owner.image.url()}}" alt="{{obj.owner.name}}" />
                    {% endif %}
                </div>
                <h4 class="has-text-light">
                    {{obj.owner.name}}
                </h4>
            </a>
        </div>
    </div>
    {% endif %}
    <div class="column is-9">
        <div class="panel has-bg-primary">
            <h4 class="has-text-secondary">Crew</h4>
            {% if obj.owner %}
            <a href="/{{obj.owner.model_name()|lower}}/{{obj.owner.pk}}">
                <div class="image is-large is-thumbnail is-margin-center">
                    {% if obj.owner.image %}
                    <img src="{{obj.owner.image.url()}}" alt="{{obj.owner.name}}" />
                    {% endif %}
                </div>
                <h4 class="has-text-light">
                    {{obj.owner.name}}
                </h4>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{{abilities_components.edit_abilities(user, obj)}}
{%- endmacro %}

{% macro manage_details(user, obj) -%}
<form hx-post="/api/manage/update"
      hx-swap="none" hx-trigger="input delay:1s, change">
    <div class="row">
        <div class="column">
            <h3>Vehicle Type</h3>
            <input class="has-bg-light" type="text" id='type' name="type" value='{{obj.type}}'>
        </div>
    </div>
    <div class="column is-shrink">
        <h4>Owner</h4>
        <input class="has-bg-light" disabled id='owner' type="text" name="owner" value='TBD...'>
    </div>
    <div class="row has-space-around">
        <div class="column is-shrink">
            <label class="is-subheading">Group</label>
            <div class="is-select">
                <select name="group">
                    {%for i in range(25) %}
                    <option value='{{i}}'
                            {%if obj.group==i %} selected {% endif %}>
                        {%if not i %}
                        Unique
                        {% else %}
                        {{i}}
                        {% endif %}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <script>
                // Function to show/hide the element based on the select value

                function toggleVisibility() {
                    let selectGroupElement = document.querySelector('select[name="group"]');
                    let objDatesElement = document.getElementById('manage-obj-dates');
                    selectGroupElement.value === '0' ?
                        objDatesElement.classList.remove('is-hidden') :
                        objDatesElement.classList.add('is-hidden');
                    //console.log("================  selectGroupElement.value  =================", selectGroupElement.value);
                }

                // Run the function when the page loads
                toggleVisibility();

                // Add an event listener to the select element to run the function on change
                document.querySelector('select[name="group"]').addEventListener('change', toggleVisibility);
            </script>
        </div>
        <div class="column is-shrink">
            <label for="model-hitpoints" class="is-subheading">HP</label>
            <input id="model-hitpoints" type="text" value="{{obj.hitpoints}}" name="hitpoints">
        </div>
        <div class="column is-shrink">
            <label for="model-size" class="is-subheading">Size</label>
            <input id="model-size" type="text" value="{{obj.size}}" name="size">
        </div>
    </div>
    <hr>
    {{abilities_components.edit_abilities(user, obj)}}
</form>
{%- endmacro %}