{% import "manage/_models.html" as children_macros %}
{% import "shared/_form.html" as form_components %}

{% macro menu(user, obj) -%}
<ul class="menu__list">
    <li>
        <a href="" class="menu-anchor" hx-get="/api/{{obj.path}}/players" hx-target="#page-content"
           hx-indicator="#request-indicator" hx-swap="innerHTML"
           hx-push-url=" /{{obj.path}}/players">
            <div class="row">
                <div class="column is-3 is-mobile-shrink">
                    <iconify-icon icon="game-icons:tabletop-players" width="1rem"></iconify-icon>
                </div>
                <div class="column is-9 is-mobile-9 slide-it-in is-hidden menu-anchor-text">
                    <span>Players</span>
                </div>
            </div>
        </a>
    </li>
    {% if user.world_user(obj) %}
    <li>
        <a href="" class="menu-anchor" hx-post="/api/campaign/" hx-target="#page-content"
           hx-indicator="#request-indicator" hx-push-url=" /{{obj.path}}/campaigns/manage">
            <div class="row">
                <div class="column is-3 is-mobile-shrink">
                    <iconify-icon icon="mdi:planner-multiple" width="1rem"></iconify-icon>
                </div>
                <div class="column is-9 is-mobile-9 slide-it-in is-hidden menu-anchor-text">
                    <span>Manage Campaigns</span>
                </div>
            </div>
        </a>
    </li>
    {% endif %}
</ul>
{%- endmacro %}

{% macro info(user, obj) -%}
{% if obj.current_date %}
<div class="row">
    <div class="column is-full">
        <h3 class="has-text-dark-grey has-text-center">
            Present Date:
            {{obj.current_date}}
        </h3>
    </div>
</div>
{% endif %}
<hr>
<h3 class='has-text-center'>Statistics</h3>
<div class="row">
    {% for m in obj._models%}
    <div class="column is-3">
        <div class="card has-bg-muted">
            <div class="card__header has-bg-screen">
                <h4 class='has-text-light'>{{obj.get_title(m)}}</h4>
            </div>
            <div class="card__content">
                <h5 class='has-text-dark'>Total: {{obj.get_associations(m) | length}}</h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{%- endmacro %}

{% macro players(user, obj) -%}
<title>{{obj.name}} - Players Panel</title>

<h2 class="has-text-dark">Players</h2>
{% for player in obj.players %}
<a href="/character/{{player.pk}}" style='text-decoration: none;'>
    <div class="panel has-bg-muted">
        <div class="row cards-container has-center">
            <div class="column  is-vertically-centered is-shrink">

                <div class="image is-medium is-thumbnail is-margin-center">
                    <img src="{{player.image.url(size='100')}}" loading="lazy" alt="{{player.name}}"
                         style="width:100%; height:100%;" />
                </div>
            </div>
            <div class="column">
                <h4 class="has-text-dark" style='text-decoration:underline;'>
                    {% if player.name %}
                    {{player.name}}
                    {% else %}
                    {{player.title}}
                    {% endif %}
                </h4>
                <div class="generated-text-lightbg">
                    {{player.backstory_summary | safe}}
                </div>
            </div>
        </div>
    </div>
</a>
<hr>
{% endfor %}
{%- endmacro %}

{% macro associations(user, obj, filter=None) -%}
<title>{{obj.name}} - Associations</title>
<h2 class='has-text-dark'>Manage Associations</h2>
<div class="row has-space-around">
    <div class="column is-shrink">
        <h4 class='has-text-secondary'>Filter by</h4>
    </div>
    <div class="column is-half">
        <div class="select">
            <select class='has-bg-secondary' name="filter" hx-get="/api/manage/associations"
                    hx-trigger="change"
                    hx-target="#associated-objects" hx-select="#associated-objects">
                <option value="">All</option>
                {% for model in obj._models %}
                <option value="{{model}}" {% if filter==model %} selected {% endif %}>
                    {{obj.get_title(model)}}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<hr>
<div class="panel is-small has-bg-light">
    <div id="associated-objects">
        <div class="row has-space-around">
            {% for a in obj.get_associations(filter) %}
            <div class="column is-3 is-mobile-4 card-container">
                <div class="row">
                    <div class="column is-half">
                        <a href="/{{a.model_name()|lower}}/{{a.pk}}">
                            <div class="image is-medium is-thumbnail">
                                <img src="{{a.image.url(size='100')}}" loading="lazy"
                                     alt="{{a.name}}"
                                     style="width:100%; height:100%;" />
                            </div>
                        </a>
                    </div>
                    <div class="column is-half">
                        <div class="row is-vertical">
                            <div class="column">
                                <button class="button is-small"
                                        hx-post="/api/manage/copy/{{a.model_name() | lower}}/{{a.pk}}"
                                        hx-target="#page-content"
                                        hx-vals='{"module":"_manage.html", "macro":"childmanage"}'
                                        hx-indicator='#request-indicator'>
                                    <iconify-icon
                                                  icon="game-icons:double-dragon"></iconify-icon>
                                    <span style="font-size:0.5rem">Copy</span>
                                </button>
                            </div>
                            <div
                                 class="column manage-card-container">
                                <button class="button is-small"
                                        hx-post="/api/manage/delete/{{a.model_name() | lower}}/{{a.pk}}"
                                        hx-target="closest .card-container"
                                        hx-swap="delete">
                                    <iconify-icon
                                                  icon="material-symbols-light:delete-outline"></iconify-icon>
                                    <span style="font-size:0.5rem">Delete</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="column is-full">
                        <a href="/{{a.path}}">
                            <h6 class='is-subtitle has-text-light-grey has-no-padding'>
                                {% if a.start_date %}
                                {{a.start_date.datestr()}}
                                {% endif %}
                                -
                                {% if a.end_date %}
                                {{a.end_date.datestr()}}
                                {% endif %}
                            </h6>
                            <h5 class='has-text-secondary'>
                                {{a.name}}
                            </h5>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%- endmacro %}

{% macro manage_details(user, obj) -%}
<h2 class='has-text-dark has-text-center' id='manage-users'>Manage Users</h2>
<div class="row">
    <div class="column is-4">
        <h4>Add Users</h4>
        <form id="add_user_form" hx-post="/api/manage/{{obj.path}}/user/add"
              hx-target="closest .row"
              hx-swap="outerHTML"
              hx-confirm="By adding this user, they will be able to make changes to the world. Are you sure?">
            <div class="row is-vertical">
                <div class="column">
                    <input class="has-bg-light" type="email" name="new_user" id="new_user"
                           placeholder="enter user email">
                </div>
                <div class="column">
                    <input class="button is-primary" type="submit" value="add">
                </div>
            </div>
        </form>
    </div>
    <div class="column">
        <div class="panel has-bg-primary is-small">
            <div class="row">
                <div class="column">
                    <h4>Users</h4>
                    <ul class="has-no-list-style" id="userlist">
                        {% for u in obj.users %}
                        <li>{{u.name}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro manage_world(user, obj) -%}
{{children_macros.manage(user, obj)}}
{%- endmacro %}