{% macro login(worlds) -%}
<div class="flex mt-12">
    <div class="flex-initial mx-auto">
        <h2 class='has-text-center has-text-primary'>Login to build</h2>
    </div>
</div>
<div class="flex mt-12">
    <div class="flex-initial mx-auto">
        <form action="/auth/login" method="post">
            <input type="hidden" name="authprovider" value="google">
            <button class="button is-primary" type="submit">
                with &ensp; <iconify-icon icon="devicon:google" width="50"></iconify-icon>
            </button>
        </form>
    </div>
</div>
{%- endmacro %}