{% import "shared/_form.html" as form_components %}
{% import "shared/_icons.html" as icon_components %}

{% macro abilities(user, obj, abilities=None) -%}
<h3 class="has-text-muted has-bg-screen has-text-center" style='padding: 0.25rem;'>Abilities</h3>

<div class="panel has-bg-muted" style='border-top-right-radius: 0; border-top-left-radius:0;'>
    <div class="row">
        {% set ability_list = abilities or obj.abilities %}
        {%for ability in ability_list%}
        <div class="column is-half has-text-dark">
            <h4 class='has-text-dark has-text-center'
                onclick='this.parentElement.nextElementSibling.classList.toggle("is-hidden")'>
                {{ability.name}}
            </h4>
            <hr>
        </div>
        <div class="column is-full is-hidden">
            <div class="row">
                {% if ability.description %}
                <div class="column is-full">
                    <div class="panel has-bg-muted">
                        <h5 class='has-text-primary'
                            style='text-decoration: underline; has-text-center'>
                            Description</h5>
                        {{ability.description | safe}}
                    </div>
                </div>
                {% endif %}
                {% if ability.dice_roll %}
                <div class="column">
                    <div class="panel has-bg-transparent">
                        <h5 class='has-text-primary'
                            style='text-decoration: underline;'>Roll
                            Mechanics</h5>
                        <p>{{ability.dice_roll}}</p>
                    </div>
                </div>
                {% endif %}
                {% if ability.effects %}
                <div class="column">
                    <div class="panel has-bg-transparent">
                        <h5 class='has-text-primary'
                            style='text-decoration: underline;'>Effects
                        </h5>
                        <p>{{ability.effects}}</p>
                    </div>
                </div>
                {% endif %}
                {% if ability.duration %}
                <div class="column">
                    <div class="panel has-bg-transparent">
                        <h5 class='has-text-primary'
                            style='text-decoration: underline;'>Duration</h5>
                        <p>{{ability.duration}}</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{%- endmacro %}


{% macro edit_abilities(user, obj, abilities=None) -%}
{% set ability_list = abilities or obj.abilities %}
<div class="panel">
    <div class="row">
        <div id="model-abilities-container" class="column is-full">
            <h3 class='has-text-center has-text-dark'>Abilities</h3>
            <div class="column is-shrink">
                <button type="button" class="button is-small"
                        hx-post='/api/manage/details/add/listitem/ability'
                        hx-target='#ability-item-list'
                        hx-select='#ability-item-list'
                        hx-swap='outerHTML' hx-trigger="click consume">
                    <iconify-icon icon="simple-line-icons:plus"></iconify-icon>
                    New Ability
                </button>
            </div>
            <div class="row" id='ability-item-list'>
                {% for ability in ability_list %}
                <div class="column is-half" style='position:relative;'>
                    <a class="has-text-dark-grey"
                       style='position:absolute; top:5px; right:5px;'
                       hx-post='/api/manage/details/ability/{{ability.pk}}/remove'
                       hx-target='closest .column'
                       hx-swap='delete' hx-trigger="click consume">
                        {{icon_components.delete(size="1rem")}}
                    </a>
                    <div class="panel has-bg-muted">
                        <h4 class='has-text-dark has-text-center'
                            onclick='this.nextElementSibling.classList.toggle("is-hidden")'>
                            {{ability.name}}
                        </h4>
                        <div id="model-abilities" class="row is-hidden">
                            <div class="column is-4 inputlabel">
                                <label for="ability-name">Name</label>
                                <input name='abilities[].name' type="text"
                                       value="{{ability.name}}">
                            </div>
                            <div class="column is-4 inputlabel">
                                <label for="ability-name">Action Type</label>
                                <div class="select">
                                    <select name='abilities[].action'
                                            value="{{ability.action}}">
                                        {%for a in ["main action", "bonus action", "reaction",
                                        "free
                                        action",
                                        "passive"] %}
                                        <option value="{{a}}">{{a}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="column is-4 inputlabel">
                                <label for="ability-duration">Duration</label>
                                <input name='abilities[].duration' type="text"
                                       value="{{ability.duration}}">
                            </div>
                            <div class="column is-half inputlabel">
                                <label for="ability-dice-roll">Dice Roll</label>
                                <textarea
                                          name='abilities[].dice_roll'>{{ability.dice_roll}}</textarea>
                            </div>
                            <div class="column is-half inputlabel">
                                <label for="ability-effects">Effects</label>
                                <textarea
                                          name='abilities[].effects'>{{ability.effects}}</textarea>
                            </div>
                            <div class="column is-full inputlabel">
                                {{form_components.texteditor(user, ability, "description", content=ability.description, name="abilities[].description")}}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endmacro%}