{% import "shared/_display.html" as element %}

{% macro associations(user, obj, associations) -%}
{% if user.world_user(obj) %}
<title>{{obj.name}} - Associations</title>

<h2 class='has-text-dark'>Associations</h2>
{% if obj.model_name() != "World"%}
<hr>
<div class="row" id='association-manager-container'>
    <div class="column is-half search is-vertically-centered">
        <div class="has-dropdown" style="width: 100%;">
            <input class="has-bg-light" autocomplete=off type="search" name="query"
                   placeholder="Search to Add Associations..."
                   style="border-bottom: solid #000;" hx-target="#association-search"
                   hx-post="/api/manage/association/add/search"
                   hx-trigger="input delay:750ms, search"
                   hx-vals='{"module":"shared/_associations.html", "macro":"association_dropdown"}'
                   hx-on:input="this.value.length < 1 ? this.closest('.has-dropdown').classList.remove('is-active'):this.closest('.has-dropdown').classList.add('is-active')">
            <ul class="dropdown autocomplete-list has-bg-light" id="association-search">
            </ul>
        </div>
    </div>
</div>
{% endif %}
<hr>
<div class="row has-space-around">
    <div class="column is-4">
        <input type="search" name="filter" placeholder="Begin typing to filter..."
               style="border-bottom: solid #000;"
               hx-post="/api/manage/associations"
               hx-trigger="input changed delay:250ms, search"
               hx-target='#associated-objects'
               hx-select='#associated-objects'
               hx-swap='outerHTML'>
    </div>
    <div class="column is-3">
        <form hx-post="/api/manage/associations"
              hx-target='#associated-objects'
              hx-select='#associated-objects'
              hx-swap='outerHTML'>
            <div class="row">
                <div class="column is-shrink is-vertically-centered">
                    <h5>Sort by</h5>
                </div>
                <div class="column">
                    <div class="is-select">
                        <select name="sorter">
                            <option value='name'>Name</option>
                            <option value='date'>Date</option>
                            <option value='type'>Type</option>
                        </select>
                    </div>
                </div>
                <div class="column is-shrink">
                    <button type="submit" class="button is-small" name="order" value="asc">
                        <iconify-icon icon="mdi:sort-ascending" width="1rem"></iconify-icon>
                    </button>
                </div>
                <div class="column is-shrink">
                    <button type="submit" class="button is-small" name="order" value="desc">
                        <iconify-icon icon="mdi:sort-descending" width="1rem"></iconify-icon>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="column">
        <div class="row has-centered">
            {% for child in obj.all_models() %}
            <div class="column is-shrink">
                <button class="button is-primary is-small"
                        hx-post="/api/manage/add/{{child.__name__ | lower}}"
                        hx-target="#page-content"
                        hx-indicator='#request-indicator'>
                    New {{obj.get_title(child)}}
                </button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<hr>
<div id="associated-objects">
    <div class="row has-space-around">
        {% for a in associations %}
        <div
             class="column is-3 is-mobile-6 card-container
                {% if a == obj.parent %} has-bg-screen {% elif obj == a.parent %} has-bg-muted {% endif %}">
            <div class="panel has-bg-screen"
                 style='height:100%;'>
                <div class="row has-space-around">
                    <div class="column is-shrink">
                        {{element.object_display(a, size="large", dim="250")}}
                    </div>
                    {% if 'World' not in [obj.model_name(), a.model_name()] %}
                    <div class="column">
                        <div class="row has-space-around is-vertical">
                            {% if obj.model_name() in a.parent_list %}
                            <div class="column is-3 is-mobile-shrink has-text-center">
                                <button class="button is-small is-primary"
                                        {% if obj==a.parent %} disabled {% endif %}
                                        hx-post="/api/manage/parent/{{a.path}}"
                                        hx-target="#associated-objects"
                                        hx-select="#associated-objects"
                                        hx-vals='{"module":"_pages.html", "macro":"associations"}'
                                        hx-indicator='#request-indicator'>
                                    <iconify-icon icon="pixelarticons:unlink" width="1rem"
                                                  height="1rem"></iconify-icon>
                                    <span style="font-size:0.5rem">is child</span>
                                </button>
                            </div>
                            {% endif %}
                            {% if a.model_name() in obj.parent_list %}
                            <div class="column is-3 is-mobile-shrink has-text-center">
                                <button class="button is-small is-primary"
                                        {% if a==obj.parent %} disabled {% endif %}
                                        hx-post="/api/manage/child/{{a.path}}"
                                        hx-target="#associated-objects"
                                        hx-select="#associated-objects"
                                        hx-vals='{"module":"_pages.html", "macro":"associations"}'
                                        hx-indicator='#request-indicator'>
                                    <iconify-icon icon="pixelarticons:unlink" width="1rem"
                                                  height="1rem"></iconify-icon>
                                    <span style="font-size:0.5rem">is parent</span>
                                </button>
                            </div>
                            {% endif %}
                            <div class="column is-3 is-mobile-shrink has-text-center">
                                <button class="button is-small is-primary"
                                        hx-post="/api/manage/unassociate/{{a.path}}"
                                        hx-target="#associated-objects"
                                        hx-select="#associated-objects"
                                        hx-vals='{"module":"_pages.html", "macro":"associations"}'
                                        hx-indicator='#request-indicator'>
                                    <iconify-icon icon="pixelarticons:unlink" width="1rem"
                                                  height="1rem"></iconify-icon>
                                    <span style="font-size:0.5rem">Unlink</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif%}
{%- endmacro %}

{% macro association_dropdown(user, obj, objs=[]) -%}
{% for o in objs %}
<li class="dropdown__link">
    <a hx-post='/api/manage/association/add/{{o.path}}'
       hx-target='#page-content'
       hx-indicator='#request-indicator'>
        <div class="row">
            <div class="column is-shrink">
                <div class="image is-tiny is-thumbnail" style="cursor: pointer">
                    {% if o.image %}
                    <img src="{{o.image.url(size=50)}}" alt="{{o.name}}" />
                    {% endif %}
                </div>
            </div>
            <div class="column">
                {{o.name}}
            </div>
        </div>
    </a>
</li>
{% endfor %}
{%- endmacro%}