{% macro campaigns(user, obj, campaign) -%}
<title>{{obj.name | title}} - Campaigns</title>
<h2 class='has-text-dark'>Campaigns</h2>
<hr>
{% if not obj.campaigns %}
<h3 class='has-text-center has-text-secondary'>Not yet associated with any campaigns
</h3>
{% else %}
<div class="row">
    <div class="column is-shrink has-vertically-centered">
        <h5 class='has-text-secondary'>Select Campaign</h5>
    </div>
    <div class="column">
        <select class="has-bg-light" name="campaignpk" hx-get="/api/{{obj.path}}/campaigns"
                hx-target="#page-content" hx-trigger='change' hx-indicator='#request-indicator'>
            <option value="">
                === Select Campaign ===
            </option>
            {% for cmp in obj.campaigns %}
            <option class="has-text-dark" value="{{cmp.pk}}" {% if campaign and
                    campaign.pk==cmp.pk
                    %} selected {% endif %}>
                {{cmp.name}}
            </option>
            {% endfor %}
        </select>
    </div>
</div>
{% if campaign %}
<div class="section is-small">
    <h3 class='has-text-primary has-text-center'>{{campaign.name}}</h>
        <div class="row">
            <div class="column is-half">
                <h4 class="has-text-dark-grey has-text-center">
                    Started: {{campaign.start_date.datestr() if campaign.start_date else 'TBD'}}
                </h4>
            </div>
            <div class="column is-half">
                <h4 class="has-text-dark-grey has-text-center">
                    Ended: {{campaign.end_date.datestr() if campaign.end_date else 'TBD'}}
                </h4>
            </div>
            <div class="column is-full">
                <div class="panel has-bg-screen has-text-justified">
                    {{campaign.description | safe}}
                </div>
            </div>
            <div class="column is-full">
                <div class="panel has-bg-muted">
                    <hr>
                    <div class='has-text-dark  has-text-justified generated-text-lightbg'>
                        {{campaign.summary | safe}}
                    </div>
                    <hr>
                </div>
            </div>
        </div>
</div>

<div class="row">
    <div class="column is-full">
        <h3 class='has-text-center'>Associated Sessions</h3>
        <div class="accordion">
            <ul class="accordion__list">
                {% for entry in campaign.episodes %}
                {% if obj.model_name() == 'World' or obj in entry.associations %}
                <li class="accordion__item" style='margin-bottom: 1rem;'>
                    <div class="panel has-bg-muted">
                        <div class="row" class='has-text-secondary'
                             onclick='this.closest(".accordion__item").classList.toggle("is-active");'>
                            <div class="column is-vertically-centered">
                                <h5 class=' has-text-dark'>{{entry.name}}</h5>
                            </div>
                            <div class="column is-shrink">
                                {% if entry.start_date %}
                                <span class='tag is-primary has-text-primary'>
                                    Start:
                                    {{entry.start_date.datestr()}}
                                    {{obj.calendar.year_string}}
                                </span>
                                {% endif %}
                            </div>
                            <div class="column is-shrink">
                                {% if entry.end_date %}
                                <span class='tag is-primary has-text-primary'>
                                    End:
                                    {{entry.end_date.datestr()}}
                                    {{obj.calendar.year_string}}
                                </span>
                                {% endif %}
                            </div>
                            {% if entry.summary %}
                            <div class="column is-full generated-text-lightbg has-text-dark">
                                {{entry.summary | safe}}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="accordion__content has-bg-white">
                        <div class="has-text-dark" style="text-wrap: wrap;">
                            <h4 class='has-text-dark has-text-center'>
                                {{entry.name}}
                            </h4>
                            <hr class='has-bg-dark-grey'>
                            {{entry.session_report | safe}}
                        </div>
                        <hr class="has-bg-primary">
                        <h4 class='has-text-dark has-text-center'>Associations</h4>
                        <div class="row has-space-around">
                            {% for ass in entry.associations %}
                            <div class="column has-text-center is-shrink">
                                <a
                                   href="/{{ass.model_name() | lower}}/{{ass.pk}}">
                                    <div class="image is-medium is-thumbnail is-margin-center">
                                        {% if ass.image %}
                                        <img src="{{ass.image.url(size='100')}}"
                                             loading="lazy"
                                             alt="{{ass.name}}"
                                             style="width:100%; height:100%;" />
                                        {% endif %}
                                    </div>
                                    <h6 class='has-text-dark has-text-center'>
                                        {% if ass.name %}
                                        {{ass.name}}
                                        {% else %}
                                        {{ass.title}}
                                        {% endif %}
                                    </h6>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="column is-full">
        <h2 class=" has-text-secondary has-text-center is-subtitle">
            Associations</h2>
        <div class="row">
            {% for o in campaign.associations %}
            {% if loop.first or loop.previtem.title != o.title %}
            <div class="column is-full">
                <h3 class='has-bg-screen has-text-muted has-text-center'>
                    {{o.title}}
                </h3>
            </div>
            {% endif %}
            <div class="column has-text-center">
                <a href="/{{o.path}}">
                    <div class="image is-small is-thumbnail is-margin-center">
                        {% if o.image %}
                        <img src="{{o.image.url(size='100')}}" loading="lazy"
                             alt="{{o.name}}"
                             style="width:100%;" />
                        {% endif %}
                    </div>
                    <h5 class='has-text-dark'>
                        {% if o.name %}
                        {{o.name}}
                        {% else %}
                        {{o.title}}
                        {% endif %}
                    </h5>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endif %}
{%- endmacro %}