{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}

{% macro details(user, obj) -%}
<title>{{obj.name or obj.title}} - Details</title>
<div class="row">
    <div class="column is-vertically-centered">
        <h2 class='has-text-dark'>Details</h2>
    </div>
    {% if obj.traits %}
    <div class="column is-shrink is-end">
        <span class="tag">{{obj.traits}}</span>
    </div>
    {% endif %}
</div>
<hr>
<div class="row has-centered">
    <div class="column is-vertically-centered">
        <h2 class='has-text-dark'>{{obj.start_date}}</h2>
    </div>
    <div class="column is-shrink is-vertically-centered">
        -
    </div>
    <div class="column is-shrink is-vertically-centered">
        <h2 class='has-text-dark'>{{obj.end_date}}</h2>
    </div>
</div>
<hr>
<div class="panel has-bg-light has-text-dark generated-text-lightbg">
    <div class="row">
        <div class="column is-full">
            <div class="is-float-left"
                 style="position:relative; padding-right: 2rem; padding-bottom: 2rem;">
                {{display_components.object_display(obj, dim=500, name=False, type=False)}}
            </div>
            {% if obj.backstory_summary %}
            {{ obj.backstory_summary | safe }}
            {% endif %}
        </div>
    </div>
</div>

<span hx-get="/api/{{obj.path}}/info" hx-trigger="load" hx-swap="outerHTML"></span>

<hr>

<div class="panel has-bg-light has-text-dark generated-text-lightbg">
    <h3 class='has-text-center has-text-dark'>Full Backstory</h3>
    {{obj.backstory | safe}}
</div>

{%- endmacro %}