{% macro trash(size="2rem") -%}
<iconify-icon icon="mdi:trash" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro add(size="2rem") -%}
<iconify-icon icon="mdi:plus" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro drama(size="2rem") -%}
<iconify-icon icon="game-icons:drama-masks" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro d20dice(size="2rem") -%}
<iconify-icon icon="game-icons:dice-twenty-faces-twenty" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro d1dice(size="2rem") -%}
<iconify-icon icon="game-icons:dice-twenty-faces-one" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro line(size="2rem") -%}
<iconify-icon icon="ci:line-l" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro dropdownarrow(size="2rem") -%}
<iconify-icon icon="mdi:arrow-drop-up" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro dropuparrow(size="2rem") -%}
<iconify-icon icon="mdi:arrow-drop-down" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro backtotop(size=" 2rem") -%}
<iconify-icon icon="bxs:to-top" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro google(size="2rem") -%}
<iconify-icon icon="devicon:google" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro github(size="2rem") -%}
<iconify-icon icon="devicon:github" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro apple(size="2rem") -%}
<iconify-icon icon="devicon:apple" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro discord(size="2rem") -%}
<iconify-icon icon="devicon:discord" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro menuburger(size="2rem") -%}
<iconify-icon icon="ci:hamburger-lg" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro plus(size="2rem") -%}
<iconify-icon icon="mdi:plus" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro update(size="2rem") -%}
<iconify-icon icon="grommet-icons:document-update" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro delete(size="2rem") -%}
<iconify-icon icon="mdi:delete" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro close(size="2rem") -%}
<iconify-icon icon="mdi:remove" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro remove(size="2rem") -%}
<iconify-icon icon="mdi:remove" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro sortdescending(size="2rem") -%}
<iconify-icon icon="mdi:sort-descending" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro sortascending(size="2rem") -%}
<iconify-icon icon="mdi:sort-ascending" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro parent(size="2rem") -%}
<iconify-icon icon="raphael:parent" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro unlink(size="2rem") -%}
<iconify-icon icon="pixelarticons:unlink" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro gear(size="2rem") -%}
<iconify-icon icon="mdi:gear" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro journal(size="2rem") -%}
<iconify-icon icon="game-icons:quill-ink" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro ai(size="2rem") -%}
<iconify-icon icon="tabler:photo-ai" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro dungeon(size="2rem") -%}
<iconify-icon icon="game-icons:dungeon-light" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro regenerate(size="2rem") -%}
<iconify-icon icon="game-icons:cycle" width="{{size}}"></iconify-icon>
{%- endmacro %}

{% macro text(size="2rem") -%}
<iconify-icon icon="dashicons:text" width="{{size}}"></iconify-icon>
{%- endmacro %}