##############################################
# Task Components #
##############################################
{% macro checktask (task_id, snippet="") -%}
<div id="task-loader" class="panel has-bg-screen" hx-post="/task/checktask/{{task_id}}"
     hx-target="#task-loader" hx-select="#task-loader" hx-swap="outerHTML" hx-indicator=""
     hx-trigger="every 3s">
    <div class="row has-centered">
        <div class="column has-text-center has-text-secondary is-shrink">
            <h3 class="has-text-light">Working...</h3>
        </div>
        <div class="column is-shrink has-bg-screen">
            <img class="has-text-primary" src="/static/images/grid.svg" width="50px"
                 height="50px" alt="loading">
        </div>
    </div>
</div>
<div class="row">
    <div class="column">
        {{ snippet | safe}}
    </div>
</div>
{%- endmacro %}

{% macro completetask (url, target="page-content", select=None, swap=None) -%}
<div id="task-loader" class="alert has-bg-screen fade-it-out"
     hx-post="{{url}}"
     hx-trigger="load delay:300ms"
     hx-target="#{{target}}"
     {% if select%}
     hx-select="#{{select}}"
     {%endif%}
     {%if swap%}
     hx-swap="{{swap}}"
     {% endif %}>
    <h5 class="has-text-light-grey">Complete</h5>
</div>
{%- endmacro %}