{% macro object_title(user, obj) -%}
<div style='position:relative; margin: 0 3rem; border-radius: 5px 5px 0 0; {% if obj.get_world().image %} background-image: linear-gradient(
    to bottom,
    rgba(247, 247, 244, 0.5),
    rgba(83, 83, 84, 0.5)
  ), url("{{obj.get_world().image.url()}}"); background-size: cover;{%endif%}'>
    <div class="row has-bg-muted" style='border-radius: 5px 5px 0 0'>
        <div class="column is-vertically-centered">
            <a href=' /{{obj.path}}'>
                <h1 class="has-text-center has-text-primary">
                    {{obj.name or obj.title}}
                </h1>
            </a>
        </div>
        {% if user.world_user(obj) %}
        <div class="column is-shrink is-mobile-shrink"
             style="position:absolute;right:0.5rem;">
            <a class=" has-text-secondary" hx-post="/api/manage/{{obj.path}}"
               hx-target="#page-content" hx-indicator='#request-indicator'
               hx-push-url='/manage/{{obj.path}}'>
                <iconify-icon icon="mdi:gear" width="1.5rem" height="1.5rem"></iconify-icon>
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}