{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}

{% macro campaigns(user, obj, campaign_list, campaign=None, episode=None) -%}
<title>{{obj.name | title}} - Manage Campaign</title>
<h2 class='has-text-dark' id='manage-campaigns'>
    Manage Campaigns
</h2>
<div id="world-campaign-details" class="raise-it">
    <div class="row">
        <div class="column">
            <select class="has-bg-muted" name="campaignpk" id="campaignpk"
                    hx-post="/api/campaign/"
                    hx-target="#page-content" hx-trigger='change'
                    onchange='history.pushState({}, "", `/world/{{obj.pk}}/campaigns/manage/${this.value}`);'>
                <option value="">=== Select Campaign ===</option>
                {% for cmp in campaign_list %}
                <option class="has-text-dark" value="{{cmp.pk}}" {% if campaign.pk==cmp.pk %}
                        selected {% endif %}>
                    {{cmp.name}} : {{ cmp.start_date }} - {{cmp.end_date}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="column is-shrink is-end">
            <button class="button is-primary is-small" hx-post="/api/campaign/new"
                    hx-target="#world-campaign-details" hx-swap="outerHTML">
                <iconify-icon icon="mdi:plus" width="1rem" height="1rem"></iconify-icon>
                New Campaign
            </button>
        </div>
    </div>
    {% if campaign %}
    <div class="tabs has-border">
        <ul class="campaign_tablist tabs__list has-centered ">
            <li class="{% if not episode %} is-active {% endif %} has-text-dark"
                hx-post='/api/campaign/{{campaign.pk}}/details'
                hx-target='#details-container'
                onclick="activeTab(this)">
                <a>
                    Campaign Details
                </a>
            </li>
            <li class="{% if episode %} is-active {% endif %} has-text-dark"
                hx-post='/api/campaign/{{campaign.pk}}/episode/{{episode.pk}}'
                hx-target='#details-container'
                onclick="activeTab(this)">
                <a>
                    Episode Details
                </a>
            </li>
        </ul>
        <div class="row">
            <div id='details-container' class="column is-full">
                {% if episode %}
                {{episode_details(user, obj, campaign, episode)}}
                {% else %}
                {{campaign_details(user, obj, campaign)}}
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
<script>
    function activeTab(elem) {
        for (x of elem.closest("ul").children) {
            x.classList.remove("is-active");
        }
        elem.closest("li").classList.add("is-active");
    }
</script>
{%- endmacro %}

{% macro campaign_details(user, obj, campaign) -%}
<div class="section is-small">
    <div class="panel has-bg-screen">
        <div class="row has-space-around">
            <div class="column is-shrink">
                {% if campaign.start_date %}
                <h5>Began: {{campaign.start_date}}</h5>
                {% endif %}
            </div>
            <div class="column is-shrink">
                {% if campaign.end_date %}
                <h5>Ended: {{campaign.end_date}}</h5>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="panel has-bg-muted has-text-dark" style='position:relative;'>
        {{campaign.summary | safe}}
        <div style='position: absolute; bottom:0px; right:0px;'>
            <div class="row">
                <div class="column">
                    <button class='button is-small' class="button is-primary"
                            hx-post="/task/generate/campaign/{{campaign.pk}}/summary"
                            hx-target='closest .column'>
                        Update Summary
                    </button>
                </div>
            </div>
        </div>
    </div>
    <form hx-post="/api/campaign/{{campaign.pk}}/update" hx-swap='none'
          hx-trigger='input delay:0.5s'>
        <div class="row has-space-between" id="current-campaign-name">
            <div class="column is-full has-text-secondarybg">
                <div class="row">
                    <div class="column is-shrink is-vertically-centered">
                        <h4>Name</h4>
                    </div>
                    <div class="column is-vertically-centered">
                        <input class="has-bg-light" type="text" name="name"
                               value="{{campaign.name}}">
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" id="current-campaign-description">
            <div class="column is-full has-text-secondarybg">
                <h3 class='has-text-center'>Description</h>
                    {{form_components.texteditor(user, campaign, 'description')}}
            </div>
        </div>
    </form>
    <hr class='has-bg-primary'>
    <div class="row" id='campaign-players'>
        <div class="column is-4">
            <h5>Add Player</h5>
            <div class="panel has-bg-muted">
                <div class="is-multiple-select">
                    <select multiple
                            size="{{obj.players}} | length"
                            name='players'
                            style='max-height: 20rem;'
                            hx-post="/api/campaign/{{campaign.pk}}/add/player"
                            hx-target="#campaign-players" hx-select="#campaign-players"
                            hx-swap="outerHTML" hx-indicator='#request-indicator'>
                        {% for player in obj.players%}
                        <option value='{{player.pk}}'
                                style='height:3rem; text-align: end; {% if player.image %} background: left / contain no-repeat url({{player.image.url(size=50)}});{% endif %} font: 1.25rem "Rosarivo", cursive;'>
                            {{player.name}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="panel">
                <h3 class='has-text-center'> Players </h3>
                <div class="row has-space-around">
                    {% for p in campaign.players %}
                    <div class="column is-4 has-text-center">
                        {{display_components.object_display(p, size="medium", type=False)}}
                        <a
                           hx-post="/api/campaign/{{campaign.pk}}/removeplayer/{{p.pk}}"
                           hx-target="#campaign-players" hx-select="#campaign-players"
                           hx-swap="outerHTML" hx-indicator=' #request-indicator'
                           hx-confirm="Are you sure you want to remove this player from the campaign?">
                            <iconify-icon icon="mdi:remove" width="1rem"></iconify-icon>
                        </a>
                    </div>
                    {% endfor%}
                </div>
            </div>
        </div>
    </div>
    <div class="section is-small">
        <div class="panel">
            <h2 class='has-text-center'> Associations </h2>
            {% for title in ['Locations', 'POIs', 'Characters', 'Creatures', 'Items', 'Factions'] %}
            {% set obj_key = title | lower %}
            {% if campaign[obj_key] %}
            <hr class='has-bg-muted'>
            <h3 class='has-text-center'> {{title}} </h3>
            <div class="row has-space-around" id="episode-encounters">
                {% for a in campaign[obj_key] %}
                <div class="column is-3 episode-association-entry">
                    <div class="row">
                        <div class="column is-full">
                            {{display_components.object_display(a, size="medium")}}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <hr class='has-bg-muted'>
    <div class="row">
        <div class="column is-shrink is-center">
            <a hx-post="/api/campaign/{{campaign.pk}}/delete"
               hx-target="#page-content"
               hx-confirm='Are you sure you want to delete this campaign?'>
                <iconify-icon icon="mdi:trash-outline" width="1.5rem"></iconify-icon>
            </a>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro episode_details(user, obj, campaign, episode=None) -%}
<div class="section is-small">
    <h3>Episode Select</h3>
    <div class="row">
        <div class="column">
            <select id="episode-select" class="has-bg-muted" name="episodepk"
                    hx-post="/api/campaign/{{campaign.pk}}/episode/manage"
                    hx-target="#episode-details"
                    hx-select="#episode-details"
                    hx-trigger='change' hx-indicator='#request-indicator'>
                <option value="">==Select Episode==</option>
                {% for ep in campaign.episodes %}
                <option value="{{ep.pk}}" {%if episode and
                        ep==episode %} selected {% endif %}>
                    {{ep.name}}:
                    {{ep.start_date}}
                    -
                    {{ ep.end_date }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="column is-shrink is-end">
            <button class="button is-primary is-small"
                    hx-post="/api/campaign/{{campaign.pk}}/episode/new"
                    hx-target="#world-campaign-details"
                    hx-select="#world-campaign-details"
                    hx-swap="outerHTML">
                <iconify-icon icon="mdi:plus" width="1rem"
                              height="1rem"></iconify-icon>
                New
                Episode
            </button>
        </div>
    </div>
    <div class="row fade-it-in" id='campaign-episode-container'>
        <div id='episode-details' class="column">
            {% if episode %}
            <div class="row has-space-around">
                <div class="column">
                    <div class="panel has-bg-muted has-text-dark generated-text-lightbg"
                         style='position:relative;'>
                        {{episode.summary | safe}}
                        <button class='button is-small' class="button is-primary"
                                style='position: absolute; bottom:0px; right:0px;'
                                hx-post="/task/generate/campaign/episode/{{episode.pk}}/summary"
                                hx-target='closest .column'>
                            Update Summary
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <form hx-post="/api/campaign/{{episode.campaign.pk}}/episode/{{episode.pk}}/manage"
                  hx-swap='none'
                  hx-trigger='input delay:1s, change'>
                <div class="row">
                    <div class="column is-6">
                        <h4 class='has-text-center has-text-dark'>Name</h4>
                        <input class="has-bg-light has-text-center" type="text" name="name"
                               value="{{episode.name}}">
                    </div>
                    <div class="column is-6">
                        <h4 class='has-text-center has-text-dark'>Episode Number</h4>
                        <input class="has-bg-light has-text-center" type="number" name="episode_num"
                               value="{{episode.episode_num}}">
                    </div>
                </div>
                <div class="row">
                    <div class="column inputlabel">
                        <h5 class='has-text-primary has-text-center'>Start Date</h5>
                        <input class='has-bg-light has-text-center' type="text"
                               name="start_date"
                               value="{{episode.start_date}}">
                    </div>
                    <div class="column inputlabel">
                        <h5 class='has-text-primary has-text-center'>End Date</h5>
                        <input class='has-bg-light has-text-center' type="text" name="end_date"
                               value="{{episode.end_date}}">
                    </div>
                </div>
            </form>
            <div class="tabs has-border">
                <ul class="episode_tablist tabs__list has-centered ">
                    <li class="has-text-dark">
                        <a hx-post='/api/campaign/episode/{{episode.pk}}/gmplanner'
                           hx-target='#episode-manage-container'
                           onclick="activeTab(this)">
                            <h5 class='has-text-center has-text-dark'>GM Tools</h5>
                        </a>
                    </li>
                    <li class="has-text-dark">
                        <a hx-post='/api/campaign/episode/{{episode.pk}}/associations'
                           hx-target='#episode-manage-container'
                           onclick="activeTab(this)">
                            <h5 class='has-text-center has-text-dark'>Associations</h5>
                        </a>
                    </li>
                    <li class='has-text-dark is-active'>
                        <a hx-post='/api/campaign/episode/{{episode.pk}}/report'
                           hx-target='#episode-manage-container'
                           onclick="activeTab(this)">
                            <h5 class='has-text-center has-text-dark'>Episode Report</h5>
                        </a>
                    </li>
                </ul>
                <div class="row">
                    <div id="episode-manage-container" class="column episode_tabs fade-it-in">
                        {{episode_report(user, obj, episode)}}
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="column is-end is-shrink">
                    <button class="button is-light has-text-dark"
                            hx-post="/api/campaign/episode/{{episode.pk}}/delete"
                            hx-target="#details-container"
                            hx-select="#details-container"
                            hx-swap="outerHTML"
                            hx-confirm='Are you sure you want to delete this Episode?'>
                        <iconify-icon icon="mdi:trash-outline" width="1rem"></iconify-icon>
                    </button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{%- endmacro %}

{% macro episode_report(user, obj, episode, afilter=None) -%}
<div class="row">
    <div class="column">
        <hr>
        <form hx-post="/api/campaign/{{episode.campaign.pk}}/episode/{{episode.pk}}/manage"
              hx-swap='none'
              hx-trigger='input delay:1s, change'>
            <div id="episode-report-container" class="fade-it-in">
                {{form_components.texteditor(user, episode, 'episode_report')}}
            </div>
        </form>
    </div>
</div>
{%- endmacro %}

{% macro episode_associations(user, obj, episode, afilter=None) -%}
<div id="episode-associations" class="row">
    <div class="column fade-it-in">
        <hr>
        <h5 class='has-text-primary'>Add New...</h5>
        <div class="row has-space-around">
            {% for model in obj.all_models_str() %}
            <div class="column is-shrink">
                <button class='button is-small'
                        hx-post='/api/campaign/episode/{{episode.pk}}/associations/add/{{model | lower}}'
                        hx-target="#episode-associations"
                        hx-select="#episode-associations"
                        hx-trigger='click consume'
                        hx-vals='{"episodepk":"{{episode.pk}}"}'
                        hx-swap='outerHTML'>
                    {{obj.get_title(model)}}
                </button>
            </div>
            {% endfor %}
        </div>
        <h5 class='has-text-primary'>...or Add Existing</h5>
        <div class="row">
            <div class="column is-shrink">
                <button class='button is-primary is-small'
                        hx-post='/api/campaign/episode/{{episode.pk}}/associations/add/campaignassociations'
                        hx-target="#episode-associations"
                        hx-select="#episode-associations"
                        hx-trigger='click consume'
                        hx-vals='{"episodepk":"{{episode.pk}}"}'
                        hx-swap='outerHTML'>
                    All Campaign Associations
                </button>
            </div>
            <div class="column is-shrink">
                <button class='button is-primary is-small'
                        hx-post='/api/campaign/episode/{{episode.pk}}/associations/add/episodeassociations'
                        hx-target="#episode-associations"
                        hx-select="#episode-associations"
                        hx-trigger='click consume'
                        hx-vals='{"episodepk":"{{episode.pk}}"}'
                        hx-swap='outerHTML'>
                    Previous Episode Associations
                </button>
            </div>
            <div class="column is-shrink">
                <button class='button is-primary is-small'
                        hx-post='/api/campaign/episode/{{episode.pk}}/associations/add/players'
                        hx-target="#episode-associations"
                        hx-select="#episode-associations"
                        hx-trigger='click consume'
                        hx-vals='{"episodepk":"{{episode.pk}}"}'
                        hx-swap='outerHTML'>
                    players
                </button>
            </div>
            <div class="column">
                <div class="has-dropdown" style="width: 100%;">
                    <input class="has-bg-light" autocomplete="off" type="search" name="query"
                           style="border-bottom: solid #000;"
                           hx-post="/api/campaign/episode/{{episode.pk}}/associations/add/search"
                           hx-target="#episode-new-associations-list"
                           hx-trigger="input changed delay:500ms consume"
                           hx-on:input="this.value.length < 3 ? this.closest('.has-dropdown').classList.remove('is-active'):this.closest('.has-dropdown').classList.add('is-active')">
                    <ul class="dropdown has-bg-light" id="episode-new-associations-list">
                    </ul>
                </div>
            </div>
        </div>

        <hr>
        <div class="panel has-bg-screen">
            <section class='section is-small'>
                <div class="row">
                    <div class="column is-shrink">
                        <h5>Filter by</h5>
                    </div>
                    <div class="column is-half is-centered">
                        <div class="select">
                            <select class='has-bg-muted' name="filter"
                                    hx-get="/api/campaign/episode/{{episode.pk}}/associations"
                                    hx-trigger="change" hx-indicator='#request-indicator'
                                    hx-target="#episode-associations">
                                <option value="">All</option>
                                {% for model in obj._models %}
                                <option value="{{model}}" {% if afilter==model %} selected
                                        {%
                                        endif
                                        %}>
                                    {{obj.get_title(model)}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </section>
            {% if episode.encounters %}
            {{ episode_association_display(user, obj, episode, episode.encounters, obj.get_title("Encounter")) }}
            {% endif %}
            {% if episode.locations %}
            {{ episode_association_display(user, obj, episode, episode.locations, obj.get_title("Location")) }}
            {% endif %}
            {% if episode.districts %}
            {{ episode_association_display(user, obj, episode, episode.districts, obj.get_title("District")) }}
            {% endif %}
            {% if episode.characters %}
            {{ episode_association_display(user, obj, episode, episode.characters, obj.get_title("Character")) }}
            {% endif %}
            {% if episode.creatures %}
            {{ episode_association_display(user, obj, episode, episode.creatures, obj.get_title("Creature")) }}
            {% endif %}
            {% if episode.items %}
            {{ episode_association_display(user, obj, episode, episode.items, obj.get_title("Item")) }}
            {% endif %}
            {% if episode.vehicles %}
            {{ episode_association_display(user, obj, episode, episode.vehicles, obj.get_title("Vehicle")) }}
            {% endif %}
            {% if episode.factions %}
            {{ episode_association_display(user, obj, episode, episode.factions, obj.get_title("Faction")) }}
            {% endif %}
            {% if episode.cities %}
            {{ episode_association_display(user, obj, episode, episode.cities, obj.get_title("City")) }}
            {% endif %}
            {% if episode.regions %}
            {{ episode_association_display(user, obj, episode, episode.regions, obj.get_title("Region")) }}
            {% endif %}

        </div>
    </div>
</div>
{%- endmacro %}

{% macro episode_association_display(user, obj, episode, children, title) -%}
<h3 class='has-text-center'> {{title}} </h3>
<hr class='has-bg-muted'>
<div class="row">
    {% for a in children %}
    <div class="column is-3 is-mobile-6 episode-association-entry fade-it-in">
        <div class="row">
            <div class="column is-full">
                {{display_components.object_display(a, size="medium", type=False)}}
            </div>
            <div class="column is-full">
                <div class="row has-centered">
                    <div class="column is-shrink is-vertically-centered">
                        <a hx-post="/api/campaign/episode/{{episode.pk}}/association/{{a.path}}/delete"
                           hx-target="closest .episode-association-entry" hx-swap="delete"
                           hx-confirm="Are you sure you want to remove this association from the episode?">
                            <iconify-icon icon="mdi:remove" width="1rem"></iconify-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{%- endmacro %}

{% macro association_dropdown(user, obj, episode, objs=[]) -%}
{% for o in objs %}
<li class="dropdown__link has-bg-muted">
    <a hx-post="/api/campaign/episode/{{episode.pk}}/associations/add/{{o.path}}"
       hx-target='#episode-associations'
       hx-select='#episode-associations' hx-swap='outerHTML'
       onclick="this.closest('.has-dropdown').classList.remove('is-active')">
        <div class="row">
            <div class="column is-shrink">
                <div class="image is-tiny is-thumbnail" style="cursor: pointer">
                    {% if o.image %}
                    <img src="{{o.image.url(size=50)}}" alt="{{o.name}}" />
                    {% endif %}
                </div>
            </div>
            <div class="column">
                {{o.name}}
            </div>
        </div>
    </a>
</li>
{% endfor %}
{%- endmacro%}


{% macro episode_gmplanner(user, obj, episode) -%}
<div class="row">
    <div class="column is-full">
        <div class="row has-centered">
            <div class="column is-shrink">
                <h3 class='has-text-center has-text-dark'>Episode Notes</h3>
            </div>
            <div class="column is-shrink">
                <a class="button is-small"
                   hx-post="/api/campaign/{{episode.campaign.pk}}/episode/{{episode.pk}}/gmplanner/addscene"
                   hx-target="#scenenotes-forms"
                   hx-select="#scenenotes-forms"
                   hx-swap='outerHTML'>
                    Add Scene
                </a>
            </div>
        </div>
        <span id="scenenotes-forms">
            {{ episode_scenenotes(user, obj, episode)}}
        </span>
    </div>
</div>
{%- endmacro %}

{% macro episode_scenenotes(user, obj, episode) %}
{% for scenenote in episode.scenenotes %}
<div class="row">
    <div class="column">
        <div class="panel">
            <div class="row">
                <div class="column is-full"
                     onclick='this.nextElementSibling.classList.toggle("is-hidden")'>
                    <h4>{{scenenote.name}}</h4>
                </div>
                <div class="column is-full is-hidden lower-it">
                    <hr class='has-bg-muted'>
                    <form hx-post="/api/campaign/{{episode.campaign.pk}}/episode/{{episode.pk}}/scenenote/{{scenenote.pk}}/update"
                          hx-swap='none'
                          hx-trigger='input delay:1s, change, end'>
                        <div class="row">
                            <div class="column is-8">
                                <input class="has-bg-muted" type="text"
                                       name="name"
                                       value="{{scenenote.name}}">
                            </div>
                            <div class="column is-shrink is-vertically-centered">
                                <label>Epsiode Num: </label>
                            </div>
                            <div class="column">
                                <input class="has-bg-muted" type="number"
                                       name="num"
                                       value="{{scenenote.num}}">
                            </div>
                            <div class="column is-full">
                                <h5 class='has-text-center'>General Notes</h5>
                                {{form_components.texteditor(user, episode, 'notes', content=scenenote.notes)}}
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="column is-half">
                            <hr class='has-bg-light'>
                            <h4 class='has-text-center'>Setting</h4>
                            <div class="row has-space-around">
                                <div class="column is-full">
                                    <form hx-post="/api/campaign/{{episode.campaign.pk}}/episode/{{episode.pk}}/scenenote/{{scenenote.pk}}/setting/add"
                                          hx-target="#scenenotes-forms"
                                          hx-select="#scenenotes-forms"
                                          hx-swap='outerHTML'
                                          hx-trigger='input delay:1s, change'>
                                        <div class="is-select has-bg-light">
                                            <select name='setting'>
                                                <option value=''>
                                                    --Select Setting--
                                                </option>
                                                {% for setting in episode.places %}
                                                {% if setting not in scenenote.setting %}
                                                <option
                                                        value='{{setting.model_name()}}--{{setting.pk}}'>
                                                    {{setting.name}}
                                                </option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                {% for a in scenenote.setting %}
                                <div class="screenote-setting column is-3">
                                    {{display_components.object_display(a, size="medium")}}
                                    <div class="row has-centered">
                                        <div class="column is-shrink"
                                             hx-post="/api/campaign/{{episode.campaign.pk}}/episode/{{episode.pk}}/scenenote/{{scenenote.pk}}/setting/remove"
                                             hx-target="closest .screenote-setting"
                                             hx-swap="delete"
                                             hx-vals='{"settingpk":"{{a.pk}}", "settingmodel":"{{a.model_name()}}"}'>
                                            <iconify-icon icon="mdi:remove" width="2rem">
                                            </iconify-icon>
                                        </div>
                                    </div>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="column is-half">
                            <hr class='has-bg-light'>
                            <h4 class=' has-text-center'>Encounters</h4>
                            <div class="row has-space-around">
                                <div class="column is-full">
                                    <form hx-post="/api/campaign/{{episode.campaign.pk}}/episode/{{episode.pk}}/scenenote/{{scenenote.pk}}/encounter/add"
                                          hx-target="#scenenotes-forms"
                                          hx-select="#scenenotes-forms"
                                          hx-swap='outerHTML'
                                          hx-trigger='input delay:1s, change'>
                                        <div class="is-select has-bg-light">
                                            <select name='encounter'>
                                                <option value=''>
                                                    --Select Encounter--
                                                </option>
                                                {% for enc in episode.encounters %}
                                                {% if enc not in scenenote.encounters %}
                                                <option value='{{enc.pk}}'>
                                                    {{enc.name}}
                                                </option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                {% for a in scenenote.encounters %}
                                <div class="screenote-encounter column is-3">
                                    {{display_components.object_display(a, size="medium")}}
                                    <div class="row has-centered">
                                        <div class="column is-shrink"
                                             hx-post="/api/campaign/{{episode.campaign.pk}}/episode/{{episode.pk}}/scenenote/{{scenenote.pk}}/encounter/remove"
                                             hx-target="closest .screenote-encounter"
                                             hx-swap="delete"
                                             hx-vals='{"encounterpk":"{{a.pk}}"}'>
                                            <iconify-icon icon="mdi:remove" width="2rem">
                                            </iconify-icon>
                                        </div>
                                    </div>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{%- endmacro %}