{% import "shared/_form.html" as form_components %}

{% macro journal_entry(user, obj, entry) -%}
<title>{{obj.name or obj.title}} - Journal Editor</title>
<div class="row">
    <div class="column is-vertically-centered">
        <h2 class='has-text-center has-text-primary'>Journal Editor</h2>
    </div>
    <div class="column is-shrink is-mobile-shrink is-end is-vertically-centered">
        <a href="/{{obj.path}}/journal">
            <iconify-icon icon="material-symbols:close" width="2rem">
            </iconify-icon>
        </a>
    </div>
</div>
<form id="journal-entry-form" hx-post="/api/manage/journal/entry/update/{{entry.pk}}"
      hx-target="#page-content"
      hx-indicator='#request-indicator' hx-swap='none'
      hx-trigger='input delay:750ms, change'>

    <div class="row">
        <div class="column is-half">
            <h5 class='has-text-center'>Title</h5>
            <input class="has-bg-muted" type="text" name="name" value="{{entry.title}}">
        </div>
        <div class="column is-half">
            <h5 class='has-text-center'> Importance </h5>
            <div class="is-select">
                <select class="has-bg-muted has-text-center" name="importance">
                    <option value=0 {%if entry.importance==0 %}selected {%endif %}>
                        No Consequence
                    </option>
                    <option value=1 {%if entry.importance==1 %}selected {%endif %}>
                        Possible Consequences
                    </option>
                    <option value=2 {%if entry.importance==2 %}selected {%endif %}>
                        Highly Consequential
                    </option>
                    <option value=3 {%if entry.importance==3 %}selected {%endif %}>
                        Critical Event
                    </option>
                    <option value=4 {%if entry.importance==4 %}selected {%endif %}>
                        Main Story Event
                    </option>
                </select>
            </div>
        </div>
        <div class="column is-full">
            {{form_components.texteditor(user, entry, 'text')}}
        </div>
    </div>
    <hr>
</form>
<div class="row">
    <div class="column is-full">
        <h3 class="has-text-center">Add Associations</h3>
        <div class="has-dropdown" style="width: 100%;">
            <input class="has-bg-muted" autocomplete="off" type="search" name="query"
                   hx-post="/api/manage/journal/search"
                   hx-target="#journal-entry-association-search"
                   hx-trigger="input delay:750ms, change, search"
                   hx-vals='{"macro":"journal_associations_dropdown"}'
                   hx-on:input="this.value.length <= 1? this.closest('.has-dropdown').classList.remove('is-active'):this.closest('.has-dropdown').classList.add('is-active')">
            <ul class="dropdown has-bg-light" id="journal-entry-association-search"
                hx-vals='{"entrypk":"{{entry.pk}}"}'>
            </ul>
        </div>
        <hr>
        <div class="panel has-bg-light-grey is-small">
            <div class="row has-space-around" id="journal-entry-associations">
                {% for a in entry.associations %}
                <div class="column is-shrink ">
                    <a href="/{{a.path}}">
                        <div class="image is-medium is-tile is-margin-center">
                            <img src="{{a.image.url(size='100')}}" loading="lazy"
                                 alt="{{a.name}}"
                                 style="width:100%;" />
                        </div>
                        <h4 class='has-text-center has-text-dark'>
                            {% if a.name %}
                            {{a.name}}
                            {% else %}
                            {{a.title}}
                            {% endif %}
                        </h4>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}